extends ../components/base/layout

block variables
  - const title = "ProjectName" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = "companions"
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = ""

block main
  main
    +catalog()


block modals
