mixin map()
  section.map
    h2.visually-hidden Наше расположение
    .map__wrapper
      .container
        .map__header
          address.map__address
            span.map__address-icon
              +icon("location", 42, 42)
            span ул. Большая Конюшенная, 19/8
          +btn({text: "Проложить маршрут", href: "https://yandex.ru/maps/2/saint-petersburg/?indoorLevel=1&ll=30.323036%2C59.938631&mode=routes&rtext=~59.938629%2C30.323036&rtt=auto&ruri=~&utm_source=share&z=17"}).map__button

    .map__container
      .map__img
        picture
          source(type="image/webp", media="(max-width: 767px)", srcset=`img/content/map-mobile.webp 1x, img/content/map-mobile@2x.webp 2x`, width="320", height="424")
          source(type="image/webp", media="(max-width: 1023px)", srcset=`img/content/map-tablet.webp 1x, img/content/map-tablet@2x.webp 2x`, width="768", height="581")
          source(type="image/webp", srcset=`img/content/map-desktop.webp 1x, img/content/map-desktop@2x.webp 2x`, width="1440", height="584")

          source(type="image/png", media="(max-width: 767px)", srcset="img/content/map-mobile.png 1x, img/content/map-mobile@2x.png 2x", width="320", height="424")
          source(type="image/png", media="(max-width: 1023px)", srcset="img/content/map-tablet.png 1x, img/content/map-tablet@2x.png 2x", width="768", height="581")
          img(src="img/content/map-desktop.png", srcset="img/content/map-desktop@2x.png 2x", width="1440", height="584", alt="Точка на карте.")

      .map__ymap(data-map)
