mixin template()
  template(data-template-country)
    li(data-alphabet-item)
      h3.form-country__title
        span.visually-hidden Все страны на букву:
        span(data-letter) A
      ul.form-country__list(data-country-list)

  template(data-template-users)
    li.catalog__item
      article.catalog__card.card
        .card__image
          img(src="img/content/users/tanya-firsova.jpg", srcset="img/content/users/tanya-firsova@2x.jpg 2x", alt="На фото Таня Фирсова.", width="285", height="265", loading="lazy", data-user-img)

        .card__container
          .card__content
            h3.card__title(data-user-name)
              a(href="#") Таня Фирсова
            p.card__text(data-user-hashtags) #ЗОЖ #ПП #Фитнес #пляж  #авокадо #смузи

          ul.card__list-contry(data-user-countries)

          .card__wrapper
            ul.card__list-transport(data-user-transport-list)

            .card__level(data-user-level)
              svg(width="60", height="60", viewBox="0 0 64 64", aria-hidden="true")
                circle(cx="32", cy="32", r="30", style=`stroke-dashoffset: calc(3.14159 * 30 * 2 * (1 - 90 / 100));`)
              span.card__level-count 90
              span.card__level-text level

          .card__button-wrapper
            button.card__button(type="button") Позвать!
            label.card__checkbox-like
              spann(data-user-like) 1500
              input(type="checkbox", name="like")
              span.card__checkbox-icon
                +icon('heart', 20, 20)

  template(data-template-transport)
    li.card__item-transport(data-user-transport, data-tooltip)
      +icon('plane', 25, 25)

  template(data-template-contry)
    li.card__item-contry
      span(data-template-contry-text) шри-ланка
      .card__item-flag
        picture
          source(type="image/webp", srcset=`img/content/flags/sri-lanka.webp 1x, img/content/flags/sri-lanka@2x.webp 2x`, width="35", height="24")
          img(src=`img/content/flags/sri-lanka.png`, srcset=`img/content/flags/sri-lanka@2x.png 2x`, width="35", height="24", alt='Флаг Шри-ланки', data-tooltip, data-title='Шри-ланка', loading="lazy")

  template(data-template-pagination)
    li.pagination__item
      button.pagination__link
        span.visually-hidden Страница:
        span(data-pagination-index)
