mixin template()
  template(data-template-country)
    li(data-alphabet-item)
      h3.form-country__title
        span.visually-hidden Все страны на букву:
        span(data-letter) A
      ul.form-country__list(data-country-list)
