.card {
  display: grid;
  grid-template-columns: 285px 1fr;
  background-color: $color-default-white;
  box-shadow: 0 4px 20px 0 $color-default-black-25;
  border-radius: 20px;
  overflow: clip;
  cursor: pointer;

  @include vp-1279 {
    grid-template-columns: 35px auto 1fr auto 25px;
    padding: 35px 0 25px;
    row-gap: 25px;
  }

  @include vp-767 {
    grid-template-columns: 20px auto 1fr 20px;
    grid-template-rows: 40px;
    gap: 0;
    padding: 15px 0 14px;
  }
}

.card__image {
  @include vp-1279 {
    grid-row: 1 / span 2;
    grid-column: 2 / span 1;
    margin: 0 29px 0 0;
  }

  @include vp-767 {
    grid-row: 1 / span 2;
    grid-column: 2 / span 1;
    margin: 0 16px 0 -2px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: clip;
  }
}

.card__image img {
  min-width: 285px;
  width: 285px;
  height: 285px;
  object-fit: contain;

  @include vp-1279 {
    min-width: 190px;
    width: 190px;
    height: 190px;
    border-radius: 20px;
    overflow: clip;
  }

  @include vp-767 {
    min-width: 70px;
    width: 70px;
    height: 70px;
    border-radius: 0;
    scale: 1.4;
  }
}

.card__container {
  display: grid;
  grid-template-columns: 1fr minmax(233px, auto);
  align-items: flex-start;
  column-gap: 20px;
  padding: 46px 43px 40px 46px;

  @include vp-1279 {
    display: contents;
  }
}

.card__content {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;

  @include vp-1279 {
    grid-row: 1 / span 1;
    grid-column: 3 / span 1;
  }

  @include vp-767 {
    display: contents;
  }
}

.card__title {
  position: relative;
  margin: 0 0 17px;
  padding-left: 16px;

  &::after {
    position: absolute;
    top: 11px;
    left: -10px;
    display: block;
    min-width: 8px;
    height: 8px;
    background-color: $color-salmon;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    content: "";
  }

  & > a {
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    color: $color-catalina-blue;
    transition: color 0.3s ease;
  }

  @include hover-focus {
    & > a {
      color: $color-catalina-blue-70;
    }

    &::after {
      background-color: $color-salmon-70;
    }

    &:active {
      & > a {
        color: $color-catalina-blue-30;
      }

      &::after {
        background-color: $color-salmon-30;
      }
    }
  }

  &--online {
    &::after {
      background-color: $color-lawn-green;
    }
  }

  @include vp-1279 {
    display: flex;
    column-gap: 22px;
    justify-items: flex-start;
    padding: 0 20px 0 4px;

    &::after {
      position: static;
      margin-top: 11px;
    }
  }

  @include vp-767 {
    grid-row: 1 / span 1;
    grid-column: 3 / span 1;
    justify-content: space-between;
    column-gap: 24px;
    padding: 0;
    margin: 0;

    &::after {
      min-width: 6px;
      height: 6px;
      margin: 8px 2px 0 0;
    }

    & > a {
      font-size: 20px;
      /* stylelint-disable-next-line */
      display: -webkit-box;
      overflow: hidden;
      line-clamp: 2;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
    }
  }
}

.card__text {
  max-width: 247px;
  margin: 12px 0;
  padding-left: 16px;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  color: $color-default-black;

  @include vp-1279 {
    padding-left: 7px;
  }

  @include vp-767 {
    grid-row: 3 / span 1;
    grid-column: 2 / span 2;
    margin: 0 0 22px;
    padding-left: 6px;
    font-size: 15px;
    line-height: 120%;
  }
}

.card__list-contry {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  display: grid;
  gap: 13px;
  margin: 0;
  padding: 4px 0 0;
  list-style: none;

  &:not(:has(.card__item-contry)) {
    display: none;
  }

  @include vp-1279 {
    grid-row: 3 / span 1;
    grid-column: 1 / span 5;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 26px 37px 0;
    border-top: 1px solid $color-solitude;

    &::before {
      position: absolute;
      top: 0;
      left: 72px;
      transform: translateY(-56%);
      padding-left: 12px;
      display: block;
      font-weight: 400;
      font-size: 15px;
      line-height: 100%;
      color: $color-default-grey;
      background-color: $color-default-white;
      content: "хочет посетить:";
    }
  }

  @include vp-767 {
    grid-row: 4 / span 1;
    grid-column: 1 / span 4;
    display: grid;
    gap: 10px;
    padding: 25px 25px 21px;

    &::before {
      left: 13px;
      transform: translateY(-50%);
      font-size: 14px;
      line-height: 114%;
    }
  }
}

.card__item-contry {
  display: flex;
  align-items: center;
  gap: 18px;
  font-size: 20px;
  line-height: 100%;
  text-transform: uppercase;

  @include vp-1279 {
    align-items: flex-end;
    gap: 12px;
  }

  @include vp-767 {
    gap: 14px;
    font-weight: 500;
    font-size: 15px;
    line-height: 107%;
  }
}

.card__item-flag {
  order: -1;
}

.card__item-flag img {
  width: 35px;
  height: 24px;

  @include vp-1023 {
    width: 40px;
  }

  @include vp-767 {
    width: 26px;
    height: 18px;
  }
}

.card__wrapper {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  align-self: flex-end;
  display: grid;
  grid-template-columns: 1fr auto;
  justify-self: flex-end;
  align-items: center;
  gap: 27px;
  width: 100%;

  @include vp-1279 {
    grid-row: 1 / span 2;
    grid-column: 4 / span 1;
    grid-template-columns: auto;
    justify-items: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 11px;
  }

  @include vp-767 {
    grid-row: 5 / span 1;
    grid-column: 1 / span 4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 16px 21px 13px;
    border-top: 1px solid $color-solitude;
  }
}

.card__list-transport {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
  margin: 0;
  padding: 0;
  list-style: none;

  &:not(:has(.card__item-transport))::after {
    display: none;
  }

  @include vp-1279 {
    display: grid;
    gap: 6px;
    margin: 3px 3px 0 8px;
  }

  @include vp-767 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    align-items: center;
    height: 100%;
    margin: 0;

    &::after {
      position: absolute;
      top: -13px;
      left: -8px;
      transform: translateY(-100%);
      padding: 0 3px 0 12px;
      font-weight: 400;
      font-size: 14px;
      line-height: 135%;
      color: $color-default-grey;
      background-color: $color-default-white;
      content: "транспорт:";
    }
  }
}

.card__item-transport {
  display: grid;
  color: $color-catalina-blue-15;

  @include vp-767 {
    place-content: center;
    width: 32px;
    height: 32px;
    background-color: $color-solitude;
    border-radius: 50%;

    & > svg {
      width: 14px;
      height: 16px;
    }
  }
}

.card__item-transport.is-active {
  color: $color-catalina-blue;
}

.card__button-wrapper {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-self: flex-end;
  gap: 4px;
  padding: 0 0 8px 8px;

  @include vp-1279 {
    grid-row: 2 / span 1;
    grid-column: 3 / span 1;
    align-self: flex-end;
    padding: 0 0 6px;
  }

  @include vp-767 {
    display: contents;
  }
}

.card__button {
  min-width: 150px;
  min-height: 50px;
  padding: 12px 18px 9px 15px;

  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  text-transform: uppercase;

  color: $color-default-blue;
  background-color: $color-pale-cornflower-blue;
  border-radius: 25px;

  border: none;
  cursor: pointer;
  user-select: none;

  transition: background-color $trans-default, color $trans-default;

  @include hover-focus {
    background-color: $color-picton-blue;

    &:active {
      color: $color-default-blue-30;
    }
  }

  @include vp-1279 {
    min-width: 170px;
  }

  @include vp-767 {
    grid-row: 6 / span 1;
    grid-column: 2 / span 2;
    min-height: 40px;
    font-family: var(--font-family);
    font-size: 17px;
  }
}

.card__checkbox-like {
  display: flex;
  align-items: center;
  gap: 3px;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  text-transform: uppercase;
  user-select: none;
  cursor: pointer;

  @include vp-767 {
    grid-row: 2 / span 1;
    grid-column: 2 / span 2;
    align-items: baseline;
    gap: 7px;
    font-size: 14px;
    line-height: 114%;
    margin: 0 0 13px 47px;
  }
}

.card__checkbox-icon {
  position: relative;
  display: grid;
  place-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  stroke: $color-accent-main-30;
  fill: transparent;
  order: -1;
  transition: background-color $trans-default, stroke $trans-default, fill $trans-default;

  &:hover,
  &:focus-visible {
    background-color: $color-lavender;
    stroke: $color-accent-main-50;
  }

  &:active {
    stroke: $color-accent-main-10;
  }

  @include vp-1279 {
    width: 57px;

    & > svg {
      width: 23px;
      height: 21px;
    }
  }

  @include vp-767 {
    width: 30px;
    height: 30px;
    background-color: $color-lavender;

    & > svg {
      width: 12px;
      height: 12px;
    }
  }
}

.card__checkbox-like:has(input:focus-visible) .card__checkbox-icon {
  background-color: $color-lavender;
  stroke: $color-accent-main-50;
  outline: 1px solid $color-accent-main-50;
}

.card__checkbox-like:has(input:checked) .card__checkbox-icon {
  background-color: $color-tutu;
  stroke: transparent;
  fill: $color-red-orange;

  &:hover {
    background-color: $color-remy;
  }

  &:active {
    fill: $color-red-orange-30;
  }
}

.card__checkbox-like:has(input:checked):has(input:focus-visible) .card__checkbox-icon {
  background-color: $color-remy;
  outline: 1px solid $color-red-orange;
}

.card__checkbox-like input {
  position: absolute;
  appearance: none;
}

.card__level {
  position: relative;
  display: grid;
  place-content: center;
  width: 64px;
  height: 64px;
  padding: 4px 0 0 5px;

  @include vp-1279 {
    margin-right: -2px;
  }

  @include vp-767 {
    width: 45px;
    height: 45px;
    margin-right: 0;

    &::after {
      position: absolute;
      top: -7px;
      left: 50%;
      transform: translate(-50%, -100%);
      padding: 0 10px;
      font-weight: 400;
      font-size: 14px;
      line-height: 135%;
      color: $color-default-grey;
      background-color: $color-default-white;
      content: "левел:";
    }
  }
}

.card__level svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(-85deg);
}

.card__level svg circle {
  width: 100%;
  height: 100%;
  stroke-width: 4;
  fill: none;
  stroke-linecap: round;
  stroke-dasharray: calc(3.14 * 60);
  stroke-dashoffset: calc(3.14 * 60);
  stroke: $color-picton-blue;

  @include vp-1023 {
    stroke: $color-neon-carrot;
  }
}

.card__level-count {
  width: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  border-bottom: 1px solid $color-default-white-30;

  @include vp-767 {
    border: none;
  }
}

.card__level-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: $color-default-black-40;

  @include vp-767 {
    display: none;
  }
}
