.catalog {
  background-color: $color-solitude;
}

.catalog__header {
  position: relative;
  padding: 124px 0 76px;
  border-radius: 0 0 56px 56px;
  background-color: $color-midnight-express-second;
  color: $color-default-white;

  &::after {
    position: absolute;
    bottom: -5px;
    left: 126px;
    width: 288px;
    height: 8px;
    border-radius: 4px;
    background-color: $color-picton-blue;
    content: "";
  }
}

.catalog__title {
  margin: 0;
  padding: 0 66px;
  font-size: 69px;
  line-height: 70%;
  letter-spacing: 0.04em;
  font-variant: all-small-caps;
}

.catalog__wrapper {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr auto;
  gap: 48px 85px;
}

.catalog__filter-country {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  padding: 117px 0 102px;
}

.catalog__filter {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.catalog__list {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}
