.companion {
  @include vp-1279 {
    margin-top: -60px;
    padding: 112px 0 69px;
    border-radius: 0 0 60px 60px;
    background-color: $color-accent-main;
    color: $color-default-white;
  }

  @include vp-1023 {
    position: relative;
    z-index: 4;
  }

  @include vp-767 {
    padding: 85px 0 40px;
    background-color: $color-accent-second;
    border-radius: 0 0 30px 30px;
  }
}

.companion__wrapper {
  display: grid;
  grid-template-columns: minmax(auto, 630px) 1fr;

  @include vp-1279 {
    grid-template-columns: 1fr;
  }
}


.companion__content {
  display: grid;
  justify-content: flex-start;
  grid-template-rows: 1fr auto;
  padding: 70px 30px 159px 14px;

  @include vp-1279 {
    display: contents;
  }
}

.companion__content-wrapper {
  max-width: 500px;

  @include vp-1279 {
    max-width: 620px;
    margin-bottom: 88px;
  }

  @include vp-767 {
    margin-bottom: 37px;
  }
}

.companion__content h2 {
  margin: 24px 0 30px;
  font-size: 81px;
  line-height: 75%;
  letter-spacing: 0.01em;
  text-transform: uppercase;

  @include vp-1279 {
    margin-bottom: 41px;
    font-size: 78px;
    letter-spacing: 0.03em;
  }

  @include vp-767 {
    margin: 12px 0 13px 4px;
    font-size: 41px;
  }
}

.companion__content p {
  margin: 12px 0 49px;
  font-weight: 500;
  font-size: 24px;
  line-height: 137%;

  @include vp-1279 {
    margin: 12px 0 69px;
    font-size: 24px;
    line-height: 142%;

    & > br {
      display: none;
    }
  }

  @include vp-767 {
    margin: 12px 0 30px 3px;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
  }
}

.companion__content b {
  font-family: $ff-roboto-сondensed;
  font-weight: 300;
  font-size: 22px;
  line-height: 109%;

  @include vp-767 {
    display: block;
    margin-right: -7px;
    font-size: 14px;
    line-height: 157%;
  }
}

.companion__btn {
  justify-self: flex-start;
  min-width: 293px;
  padding: 27px 37px 27px 35px;

  @include vp-1279 {
    justify-self: center;
    min-width: auto;
    max-width: 616px;
    width: 100%;
    margin-right: 4px;
    padding: 27px 22px 27px 32px;
    background-color: $color-jordy-blue;
    order: 1;
  }

  @include vp-767 {
    min-height: 61px;
    margin-right: 0;
    padding: 22px 22px 21px 23px;
    font-size: 18px;
    border-radius: 10px;
    background-color: $color-pale-cornflower-blue;
  }
}

.companion__container {
  margin: -63px -60px 0 0;
  padding: 133px 60px 123px 61px;
  border-radius: 0 0 56px 56px;
  background-color: $color-blue-zodiac;

  @include vp-1279 {
    margin: 0 0 77px;
    padding: 0;
    border-radius: 0;
    background-color: transparent;
  }

  @include vp-767 {
    margin-bottom: 58px;
  }
}

.companion__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, minmax(250px, 285px));
  flex-wrap: wrap;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;

  @include vp-1279 {
    max-width: 834px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 285px));
    justify-content: space-between;
    gap: 20px;
    margin: 0 auto;
  }

  @include vp-767 {
    display: flex;
    flex-wrap: wrap;
    gap: 44px;
    justify-content: center;
  }
}

.companion__item {
  &:nth-child(even) {
    margin-top: 69px;
  }

  @include vp-1279 {
    &:nth-child(even) {
      margin-top: 0;
    }
  }
}

.companion__link {
  transition: transform $trans-default, box-shadow $trans-default;

  @include hover-focus {
    transform: scale(1.02);
    box-shadow: 0 4px 20px 0 $color-ivory-50;
  }

  &:focus-within {
    transform: scale(1.02);
    box-shadow: 0 4px 20px 0 $color-ivory-50;
  }

  @include vp-1023 {
    box-shadow: 0 0 10px 0 $color-default-white;
  }
}
