.directions__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.directions__content {
  display: grid;
  grid-template-rows: 1fr auto;
  padding: 89px 0 159px 113px;
}

.directions__content h2 {
  margin: 0 0 29px;
  font-weight: 700;
  font-size: 88px;
  line-height: 70%;
  letter-spacing: 0.03em;
  font-variant: all-small-caps;
}

.directions__content p {
  margin: 12px 0;
  font-size: 23px;
  line-height: 143%;
  color: $color-default-grey;
}

.directions__btn {
  justify-self: flex-start;
  min-width: 299px;
  margin-left: 7px;
  padding: 29px 38px 27px 36px;
}

.directions__container {
  padding: 155px 49px 170px 52px;
  margin: -60px 0 0 -60px;
  background-color: $color-solitude;
  border-radius: 0 0 56px 56px;
  order: -1;
  z-index: 1;
}

.directions__swiper {
  width: 648px;
  height: 440px;
  // overflow-y: hidden;
  mask-image:
    linear-gradient(to bottom,
      transparent 0%,
      $color-solitude 100px,
      $color-solitude calc(100% - 100px),
      transparent 96%);
  mask-repeat: no-repeat;
  mask-position: top;
  mask-size: 100% 100%;
}

.directions__card-list {
  margin: 0 20px;
  padding: 0;
  list-style: none;
}

.directions__card.swiper-slide {
  transition: transform $trans-default;
}

.directions__card.swiper-slide-next {
  transform: scaleX(1.023);
}
