.filter__form {
  max-width: 285px;
  padding: 46px 22px 48px 28px;
  background-color: $color-pattens-blue;
  border-radius: 20px;
  color: $color-catalina-blue;

  @include vp-1279 {
    max-width: 100%;
    padding: 37px 23px 37px 34px;
    background-color: $color-pale-cornflower-blue;
  }

  @include vp-767 {
    margin: 5px 0;
    padding: 27px 20px 22px;
  }
}

.filter__form h2 {
  margin: 0 0 34px;
  padding: 0 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;

  @include vp-1279 {
    padding: 0 0 37px;
    margin-bottom: 36px;
    border-bottom: 1px solid $color-golden-dream;
  }

  @include vp-767 {
    margin: 0;
    padding: 0 4px 21px 5px;
    font-size: 22px;
    letter-spacing: 0.02em;
  }
}

.filter__fieldset {
  display: grid;
  row-gap: 19px;

  &:last-of-type {
    padding-bottom: 23px;
  }

  &--music .filter__list {
    padding: 3px 20px 0;
  }

  @include vp-1279 {
    grid-template-columns: 124px 1fr;
    align-items: center;
    gap: 3px;
    margin-bottom: 26px;

    &:last-of-type {
      margin-bottom: 36px;
      padding-bottom: 36px;
      border-bottom: 1px solid $color-golden-dream;
    }

    &--music .filter__list {
      padding: 0;
    }

    &--food {
      margin-bottom: 21px;
    }

    &--transport {
      margin-bottom: 16px;
    }

    &--transport .filter__legend-wrapper {
      padding-top: 7px;
    }

    &--level {
      margin-right: 14px;
    }
  }


  @include vp-767 {
    grid-template-columns: 1fr;
    margin-bottom: 0;
    gap: 0;
    padding: 0 4px 0 5px;
    border-bottom: 1px solid $color-golden-dream;

    &:last-of-type {
      margin-bottom: 5px;
      padding: 0 4px 0 5px;
      border: none;
    }

    &--transport .filter__legend-wrapper {
      padding-top: 0;
    }

    &--level {
      margin-right: 0;
    }
  }
}

.filter__legend-wrapper {
  padding: 0 20px;

  @include vp-1279 {
    padding: 0;
  }
}

.filter__legend {
  display: none;

  @include vp-1279 {
    display: block;
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;
  }

  @include vp-767 {
    display: none;
  }
}

.filter__toggle {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 110%;
  text-transform: uppercase;
  border-radius: 3px;
  transition: color $trans-default;
  cursor: pointer;

  &::after {
    display: block;
    width: 0;
    height: 0;
    margin: 0px 5px 5px 0;
    border-top: 5px solid $color-catalina-blue;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    transition: border-top-color $trans-default, transform $trans-default;
    content: "";
  }

  &:hover {
    color: $color-catalina-blue-60;

    &::after {
      border-top-color: $color-catalina-blue-60;
    }
  }

  &:has(input:focus-visible) {
    color: $color-catalina-blue-60;
    outline: 2px solid $color-catalina-blue;

    &::after {
      border-top-color: $color-catalina-blue-60;
    }
  }

  &:has(input:checked)::after {
    transform: rotate(180deg);
  }

  @include vp-1279 {
    display: none;
  }

  @include vp-767 {
    display: grid;
    padding: 12px 0 9px;
    font-weight: 700;
    font-size: 16px;
    line-height: 112%;

    &::after {
      margin: 0;
    }
  }
}

.filter__toggle > input {
  position: absolute;
  appearance: none;
}

.filter__input {
  display: grid;
}

.filter__collapse-container {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows $trans-default;

  @include vp-1279 {
    grid-template-rows: auto;
  }

  @include vp-767 {
    grid-template-rows: 0fr;
  }
}

.filter__fieldset:has(.filter__toggle > input:checked) .filter__collapse-container,
.filter__fieldset:has(.filter__toggle > input:focus-visible) .filter__collapse-container,
.filter__fieldset:has(.filter__item input:focus-visible) .filter__collapse-container {
  grid-template-rows: 1fr;
}

.filter__list {
  display: grid;
  row-gap: 16px;
  min-height: 0;
  margin: 0;
  padding: 0 20px;
  list-style: none;
  overflow: hidden;

  &--transport {
    display: flex;
    flex-wrap: wrap;
  }

  @include vp-1279 {
    grid-template-columns: repeat(3, 1fr);
    gap: 7px;
    padding: 0;
    overflow: visible;

    &--transport {
      gap: 1px;
    }
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    gap: 12px;
    overflow: hidden;

    &--transport {
      gap: 2px;
    }
  }
}

.filter__collapse-wrapper {
  padding: 0 20px;
  overflow: hidden;
  min-height: 0;

  @include vp-1279 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    min-height: auto;
    padding: 0;
    overflow: visible;
  }

  @include vp-767 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3px;
    overflow: hidden;
    min-height: 0;
  }
}

.filter__item {
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;

  &:last-of-type {
    margin-bottom: 32px;
  }

  @include vp-1279 {
    margin-bottom: 0;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  @include vp-767 {
    font-size: 15px;
    line-height: 81%;

    &:last-of-type {
      margin-bottom: 20px;
    }

    &:first-of-type {
      margin-top: 4px;
    }

    &--transport {
      margin: 6px 0 20px;

      &:last-of-type {
        margin: 6px 0 20px;
      }

      &:first-of-type {
        margin: 6px 0 20px 1px;
      }
    }
  }
}

.filter__fieldset--food .filter__item:last-of-type {
  @include vp-1279 {
    margin-right: -5px;
  }

  @include vp-767 {
    margin-right: 0;
  }
}

.filter__item label {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 13px;
  align-items: center;
  color: $color-default-black;
  user-select: none;
  cursor: pointer;

  transition: opacity $trans-default, color $trans-default;

  &::before {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    display: block;
    width: 24px;
    height: 24px;
    background-color: $color-default-white;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: border-color $trans-default;
    content: "";
  }

  &:hover {
    color: $color-default-black-60;
  }

  &:has(input:focus-visible) {
    color: $color-default-black-60;

    &::before {
      border-color: $color-default-black;
    }
  }

  &:active {
    color: $color-default-black;
    opacity: 0.3;
  }

  @include vp-767 {
    align-items: flex-end;
    column-gap: 9px;

    &::before {

      width: 18px;
      height: 18px;
    }
  }
}

.filter__item--transport label {
  gap: 0;

  &::before {
    width: 44px;
    height: 44px;
    border-radius: 100%;
    background-color: $color-default-white;
    transition: box-shadow $trans-default;
  }

  &:hover {
    &::before {
      box-shadow: 0 2px 6px 0 rgba(22, 28, 53, 0.17);
    }
  }

  @include vp-767 {
    &::before {
      width: 31px;
      height: 31px;
    }
  }
}

.filter__item--transport label:hover .filter__icon--transport {
  color: $color-pink-swan;
}

.filter__item--transport label:hover input:checked + .filter__icon--transport {
  color: $color-catalina-blue-70;
}

.filter__item input {
  position: absolute;
  appearance: none;
}

.filter__icon {
  display: none;
  place-content: center;
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  width: 100%;
  height: 100%;

  &--transport {
    display: grid;
    color: $color-gainsboro;
    transition: color $trans-default;

    & > svg {
      width: 23px;
      height: 22px;
    }
  }

  @include vp-767 {
    & > svg {
      width: 14px;
      height: 14px;
    }

    &--transport > svg {
      width: 18px;
      height: 17px;
    }
  }
}

.filter__item input:checked + .filter__icon {
  display: grid;

  &--transport {
    color: $color-catalina-blue;
  }
}

.filter__submit {
  display: grid;
  place-content: center;
  min-width: 193px;
  max-width: none;
  min-height: 49px;
  padding: 16px 20px 10px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  color: $color-default-blue;

  background-color: $color-default-white;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  user-select: none;
  transition: background-color $trans-default, box-shadow $trans-default, color $trans-default;

  @include hover-focus {
    box-shadow: 0 3px 6px 0 $color-default-black-14;

    &:active {
      color: $color-default-blue-30;
      background-color: $color-picton-blue;
    }
  }

  @include vp-1279 {
    justify-self: center;
    width: 100%;
    max-width: 617px;
    min-height: 50px;
    margin: 0 12px 0 0;
  }

  @include vp-767 {
    min-height: 41px;
    margin: 0;
    padding: 15px 21px 9px;
    font-size: 17px;
  }
}

.filter__range {
  display: grid;
  grid-template-columns: 1fr 10px 1px 10px 1fr;
  align-items: center;
  max-width: 192px;
  margin-bottom: 35px;

  &::after,
  &::before {
    grid-row: 1 / span 1;
    grid-column: 2 / span 3;
    display: block;
    width: 20px;
    content: "";
  }

  &::after {
    height: 20px;
    background-color: $color-default-white;
  }

  &::before {
    height: 1px;
    background-color: $color-link-water;
    z-index: 1;
  }

  @include vp-1279 {
    margin-bottom: 0;
    max-width: 147px;
  }

  @include vp-767 {
    max-width: 100%;
  }
}

.filter__range label:first-of-type {
  grid-row: 1 / span 1;
  grid-column: 1 / span 3;
}

.filter__range label:first-of-type input {
  border-radius: 4px 0 0 4px;
}

.filter__range label:last-of-type {
  grid-row: 1 / span 1;
  grid-column: 3 / span 3;
}

.filter__range label:last-of-type input {
  border-radius: 0 4px 4px 0;
}

.filter__range input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid $color-link-water;
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  text-align: center;
  background-color: $color-default-white;
  color: $color-catalina-blue;
  transition: border-color $trans-default;

  &:hover,
  &:focus {
    border-color: $color-rock-blue;
  }

  &:active {
    border-color: $color-default-blue;
  }

  @include vp-1279 {
    padding: 9px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 93%;
    letter-spacing: 0.06em;
  }
}

.filter__range:has(input[data-input-min]:hover) input[data-input-max],
.filter__range:has(input[data-input-min]:focus) input[data-input-max] {
  border-left-color: $color-rock-blue;
}

.filter__range:has(input[data-input-min]:active) input[data-input-max] {
  border-left-color: $color-default-blue;
}

.filter__range-slider {
  margin-bottom: 12px;

  @include vp-1279 {
    width: 100%;
    max-width: 276px;
    min-width: 150px;
    order: -1;
  }

  @include vp-767 {
    max-width: calc(100% - 16px);
    order: 0;
  }
}

/* Основной контейнер */
.filter__range-slider.noUi-target {
  height: 3px;
  width: 186px;
  margin: 20px 0;
  border: none;
  background: transparent;
  box-shadow: none;

  @include vp-1279 {
    width: 100%;
  }

  @include vp-767 {
    justify-self: center;
    height: 2px;
  }
}

/* Линия слайдера */
.filter__range-slider .noUi-base {
  border-radius: 2px;
  background-color: $color-catalina-blue-20;
}

/* Заполненная область между ползунками */
.filter__range-slider .noUi-connect {
  background-color: $color-catalina-blue;
}

.filter__range-slider .noUi-base .noUi-handle {
  width: 13px;
  height: 13px;
  border: none;
  border-radius: 50%;
  background-color: $color-catalina-blue;
  box-shadow: none;
  right: -6px;
  cursor: pointer;
  transition: transform $trans-default, box-shadow $trans-default;

  &:hover {
    transform: scale(1.45);
  }

  &:active {
    transform: scale(1.45);
    box-shadow: 0 3px 7px 0 $color-catalina-blue-24;
  }

  @include vp-767 {
    top: -4px;
    width: 10px;
    height: 10px;

    &:hover {
      transform: scale(1.25);
    }

    &:active {
      transform: scale(1.25);
    }
  }
}
