.form-country {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows $trans-default;
}

.form-country:has(~ .filter-country__button.is-active),
.form-country:has([type="checkbox"]:focus-visible) {
  grid-template-rows: 1fr;
}

.form-country__collapse-wrapper {
  min-height: 0;
  overflow: hidden;
}

.form-country__container {
  @include vp-1279 {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: flex-start;
    column-gap: 90px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.form-country__wrapper {
  @include vp-1279 {
    display: grid;
    margin: 24px 0 49px;
  }

  @include vp-767 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    margin: 0 0 5px;
  }
}

.form-country__alphabetic-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 21px;
  margin: 0 0 70px;
  padding: 0 55px 0 35px;
  text-transform: capitalize;
  list-style: none;

  @include vp-1279 {
    grid-auto-rows: 1fr;
    gap: 23px 24px;
    padding: 28px 0 0 14px;
    margin: 0 0 64px;
  }

  @include vp-767 {
    gap: 1px;
    padding: 0 26px;
    margin: 17px 0 14px;
  }
}

.form-country__alphabetic-item {
  @include vp-767 {
    display: grid;
    width: 100%;
    height: 100%;
  }
}

.form-country__alphabetic-item label {
  @include vp-1279 {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    font-weight: 700;
    font-size: 60px;
    line-height: 100%;
    text-transform: uppercase;
    color: $color-accent-main-30;
    transition: color $trans-default;
    user-select: none;

    &:hover {
      color: $color-accent-main-60;
    }

    &:has(input:focus-visible) {
      color: $color-accent-main-60;
      outline: 2px solid $color-accent-main;
    }

    &:has(input:checked) {
      color: $color-accent-main;
    }

    &:has(input:disabled) {
      color: $color-accent-main-10;
      cursor: not-allowed;
    }
  }

  @include vp-767 {
    display: grid;
    place-content: center;
    padding: 10px;
    min-height: 40px;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    background-color: $color-default-white;
    color: $color-catalina-blue;
    outline: 1px solid $color-link-water;
    transition: color $trans-default, background-color $trans-default, outline-color $trans-default;

    &:hover,
    &:has(input:focus-visible) {
      color: $color-catalina-blue;
      outline-color: $color-rock-blue;
      z-index: 1;
    }

    &:has(input:checked) {
      background-color: $color-catalina-blue;
      outline-color: $color-catalina-blue;
      color: $color-default-white;
    }
  }
}

.form-country__alphabetic-item input {
  @include vp-1279 {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    appearance: none;
    cursor: pointer;
  }
}

.form-country__title {
  margin: 0 0 28px 2px;
  font-weight: 700;
  font-size: 60px;
  line-height: 100%;
  text-transform: uppercase;
}

.form-country__list-wrapper {
  @include vp-1279 {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows $trans-default;
  }

  @include vp-767 {
    padding: 0 25px;
  }
}

.form-country__list-wrapper.is-open {
  @include vp-1279 {
    grid-template-rows: 1fr;
  }
}

.form-country__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @include vp-1279 {
    min-height: 0;
    overflow: hidden;
  }
}

.form-country__item label {
  display: block;
  padding: 0 3px;
  font-family: inherit;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: $color-default-grey;
  border-radius: 3px;
  transition: color $trans-default;
  cursor: pointer;
  user-select: none;

  &:hover {
    color: $color-catalina-blue;
  }

  &:has(input:focus-visible) {
    color: $color-catalina-blue;
    outline: 2px solid $color-catalina-blue;
  }

  &:has(input:checked) {
    color: $color-catalina-blue-30;
  }

  @include vp-1279 {
    text-transform: capitalize;
  }

  @include vp-767 {
    padding: 0;
    font-size: 16px;
    line-height: 138%;
  }
}

.form-country__item input {
  appearance: none;
}
