.invite {
  padding: 84px 0 65px;

  @include vp-1023 {
    position: relative;
    margin-top: -60px;
    padding: 91px 0 65px;
    border-radius: 0 0 60px 60px;
    background-color: $color-solitude;
    // z-index: -1; //TODO исправить
  }

  @include vp-767 {
    padding: 96px 0 65px;
  }
}

.invite h2 {
  margin: 0 31px 79px 0px;
  font-size: 113px;
  line-height: 94%;
  letter-spacing: 0.027em;
  font-variant: all-small-caps;
  text-align: center;

  @include vp-1023 {
    margin: 0 0 30px;
    font-size: 112px;
    line-height: 81%;
    letter-spacing: .034em;
  }

  @include vp-767 {
    margin-bottom: 32px;
    font-size: 43px;
    line-height: 63%;
    color: $color-accent-second;
  }
}

.invite__wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: flex-start;

  @include vp-767 {
    grid-template-columns: 1fr;
    row-gap: 38px;
    margin-bottom: 28px;
  }
}

.invite__list {
  margin: 0;
  padding: 61px 0 40px 14px;
  list-style: none;
  counter-reset: invite-list 0;

  @include vp-1023 {
    padding: 37px 0 0 0;
  }

  @include vp-767 {
    padding: 0 3px 0 0;
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
  }
}

.invite__item {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 25px;
  align-items: center;
  counter-increment: invite-list 1;

  &::before {
    display: grid;
    place-content: center;
    width: 72px;
    height: 70px;
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    color: $color-default-white;
    border-radius: 50%;
    content: counter(invite-list);
  }

  &:nth-of-type(3n + 1)::before {
    background-color: $color-picton-blue;
  }

  &:nth-of-type(3n + 2)::before {
    background-color: $color-jordy-blue;
  }

  &:nth-of-type(3n + 3)::before {
    background-color: $color-pale-cornflower-blue;
  }

  @include vp-1023 {
    column-gap: 22px;

    &::before {
      width: 68px;
      height: 68px;
    }
  }

  @include vp-767 {
    grid-template-columns: 1fr auto;

    &::before {
      width: 38px;
      height: 36px;
      font-size: 16px;
      order: 1;
    }
  }
}

.invite__item-text {
  padding: 24px 0;
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  color: $color-default-grey;
  border-bottom: 1px solid $color-solitude;

  @include vp-1023 {
    padding: 21px 0;
    border-color: $color-solitude-second;
  }

  @include vp-767 {
    padding: 14px 0;
    font-size: 16px;
    color: $color-default-grey;
  }
}

.invite__item:first-child .invite__item-text {
  border-top: 1px solid $color-solitude;

  @include vp-1023 {
    border-color: $color-solitude-second;
  }
}

.invite__info {
  display: flex;
  justify-content: flex-end;
  column-gap: 45px;
  height: 100%;
  width: 585px;
  max-width: 585px;
  min-height: 333px;
  padding: 62px 47px 41px 40px;
  border-radius: 20px;
  box-shadow: 0 0 10px 0 $color-default-black-10;
  background-color: $color-blue-zodiac;
  color: $color-default-white;

  @include vp-1279 {
    display: grid;
    justify-items: center;
    width: auto;
  }

  @include vp-1023 {
    row-gap: 16px;
    min-height: 285px;
    padding: 20px 27px 18px;
  }

  @include vp-767 {
    justify-self: center;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    max-width: 350px;
    width: 100%;
    min-height: auto;
    margin: 0 4px 0 3px;
    padding: 15px 22px 16px 19px;
  }

  @include vp-374 {
    max-width: 263px;
    padding: 15px 18px 17px 15px;
  }
}

.invite__info h3 {
  margin: 17px 0 24px;
  font-size: 50px;
  line-height: 68%;
  letter-spacing: 0.01em;
  font-variant: all-small-caps;

  @include vp-1023 {
    margin: 0 0 16px;
    font-size: 34px;
    line-height: 100%;
  }

  @include vp-767 {
    margin: 0 0 26px;
    font-size: 23px;
    line-height: 68%;
    letter-spacing: 0.035em;
  }
}

.invite__info p {
  margin: 12px 0;
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  text-align: center;

  @include vp-1023 {
    font-weight: 300;
    font-size: 24px;
    line-height: 117%;
  }

  @include vp-767 {
    margin: 4px 0;
    font-size: 16px;
    line-height: 100%;
    text-align: left;
  }
}

.invite__info-img img {
  min-width: 200px;
  width: 200px;

  @include vp-1023 {
    min-width: 100px;
    width: 100px;
  }

  @include vp-767 {
    min-width: 81px;
    width: 81px;
  }
}

.invite__button {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 20px;
  max-width: 400px;
  padding: 0;
  margin: -7px 0 0 14px;

  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: $color-blue-zodiac;

  background-color: transparent;
  border: none;
  cursor: pointer;
  user-select: none;
  transition: color $trans-default;

  @include hover-focus {
    color: $color-blue-zodiac-70;

    &:active {
      color: $color-blue-zodiac-30;
    }
  }

  @include vp-1023 {
    margin: -12px 0 0 -2px;
  }

  @include vp-767 {
    display: block;
    margin: 0 auto;
    padding-left: 4px;
    font-size: 16px;
    color: $color-accent-second;
  }
}

.invite__button-icon {
  display: grid;
  place-content: center;
  width: 72px;
  height: 70px;
  border-radius: 50%;
  background-color: $color-lavender;

  @include vp-767 {
    display: none;
  }
}
