.social {
  padding: 0;
  list-style: none;
}

.social__link {
  display: grid;
  place-content: center;
  width: 45px;
  height: 45px;
  transition: color $trans-default;

  @include hover-focus {
    color: $color-picton-blue;

    &:active {
      color: $color-transparent-midnight-express;
    }
  }
}
