.user-card {
  display: grid;
  grid-template-rows: auto 12px auto 1fr;
  max-width: 285px;
  background-color: $color-default-white;
  border-radius: 20px;
}

.user-card__header {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
  position: relative;
}

.user-card__level {
  position: absolute;
  top: 20px;
  left: 22px;
  display: grid;
  place-content: center;
  width: 60px;
  height: 60px;
  padding: 12px 0 0 3px;
  line-height: 82%;
  text-align: center;
  border-radius: 50%;
  border: 4px solid $color-picton-blue;
  color: $color-default-white;
  background-color: $color-default-black-60;
}

.user-card__level-count {
  width: 30px;
  font-weight: 700;
  font-size: 24px;
  border-bottom: 1px solid $color-default-white-30;
}

.user-card__level-text {
  font-weight: 400;
  font-size: 14px;
}

.user-card__img {
  border-radius: 20px 20px 0 0;
  overflow: clip;
  width: 285px;
  height: 285px;
}

.user-card__img {
  width: 285px;
  height: auto;
  object-fit: contain;
}

.user-card__list-countries {
  grid-column: 1 / span 1;
  grid-row: 2 / span 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 15px;
  padding: 0;
  list-style: none;
  z-index: 1;
}


.user-card__wrapper {
  grid-column: 1 / span 1;
  grid-row: 4 / span 1;
  padding: 19px 15px 16px;
  text-align: center;
}

.user-card__title {
  margin: 0 0 23px;
  font-size: 24px;
  line-height: 92%;
}

.user-card__text {
  margin: 0 0 24px;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
}

.user-card__transport-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
}
