mixin footer(footerMods)
  - const socialMods = "social--round"

  footer.footer(class=footerMods)
    .container
      .footer__wrapper
        +logo(currentUrl).footer__logo
        +social(socialMods).footer__social
