// Colors
// ---------------------------------

// Default

// :root { // TODO temp delete
//   --basic-blue: #161c35; //161C35
//   --basic-blue-light: #edeff6;
//   --basic--yellow: #a8d2f4;
//   --special-yellow-dark: #7ebaeb;  => $color-jordy-blue
//   --special-blue-light: #7ebaeb; => $color-jordy-blue
//   --special-grey: #444;
//   --basic-blue-light: #1d2e5b;
//   --special-red: #f47e7e;
//   --special-orange: #fff;
// }

$color-default-black: #000000;
$color-default-black-10: rgba($color-default-black, 0.1);
$color-default-black-25: rgba($color-default-black, 0.25);
$color-default-black-30: rgba($color-default-black, 0.3);
$color-default-black-60: rgba($color-default-black, 0.6);
$color-default-white: #ffffff;
$color-default-white-30: rgba($color-default-white, 0.3);
$color-default-grey: #444444;
$color-default-grey-30: rgba($color-default-grey, 0.3);
$color-default-grey-50: rgba($color-default-grey, 0.5);
$color-transparent: rgba(255, 255, 255, 0);
$color-shadow: rgba(0, 0, 0, 0.25);
$color-transparent-picton-blue: rgba(#4e91d1, 0.3);
$color-transparent-midnight-express: rgba(#161c35, 0.3);
$color-transparent-pale-cornflower-blue: rgba(#a8d2f4, 0.3);
$color-accent-main: #192144;
$color-accent-second: #272b3b;

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-midnight-express: #121936;
$color-catalina-blue: #1d2e5b;
$color-catalina-blue-15: rgba(#1d2e5b, 0.15);
$color-catalina-blue-30: rgba(#1d2e5b, 0.3);

$color-red: #ff0000;
$color-salmon: #f97676;
$color-lawn-green: #81e31e;
$color-ivory: #fffeef;
$color-ivory-50: rgba($color-ivory, 0.5);


$color-blue-zodiac: #3f4251;
$color-blue-zodiac-30: rgba($color-blue-zodiac, 0.3);
$color-blue-zodiac-70: rgba($color-blue-zodiac, 0.7);
$color-jordy-blue: #7ebaeb;
$color-chambray: #516172;
$color-very-light-grey: #cccccc;

$color-picton-blue: #4d99d6;
// $color-jordy-blue: #7ebaeb;
$color-pale-cornflower-blue: #a8d2f4;
$color-pattens-blue: #cce5fa;
$color-curious-blue: #468ac1;
$color-solitude: #edeff6;
$color-lavender: #e2e5f2;

// Gradient

$black-to-right: linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);
$nav-bottom-border: linear-gradient(to bottom, transparent calc(100% - 20px), $color-midnight-express 20px);
// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default: 16px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-rouble: "Rouble", "Arial", sans-serif;

$ff-roboto: "Roboto", " Arial", sans-serif;
$ff-roboto-сondensed: "Roboto Condensed", "Arial", sans-serif;


// Animation
// ---------------------------------

$tf-default: ease;
$trans-default: 0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal: 0.6s cubic-bezier(0.55, 0, 0.1, 1);
$trans-nav-transform: 0.6s ease-out;
$trans-nav-grid: 0.3s ease-in-out;

$trans-600: 0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-320: 320px;
$vp-375: 375px;
$vp-768: 768px;
$vp-1024: 1024px;
$vp-1280: 1280px;
$vp-1440: 1440px;
$vp-1920: 1920px;

// Retina
// ---------------------------------


$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
