mixin modal-rates()
    .modal-rates(role="dialog", aria-labelledby="modal-title", aria-hidden="true")
      h2.modal-rates__title(id="modal-title") Бизнес-тарифы
      table
        tbody
          tr.modal-rates__row
            td.modal-rates__name Реклама у блоггера
            td.modal-rates__price 300 000 руб./пост
          tr.modal-rates__row
            td.modal-rates__name Накрутка подписчиков
            td.modal-rates__price от 1 руб./шт.
          tr.modal-rates__row
            td.modal-rates__name Лайки от ботов
            td.modal-rates__price от 20 коп./лайк
          tr.modal-rates__row
            td.modal-rates__name Ваш продакт-плейсмент
            td.modal-rates__price Индивидуально
